<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="vue.js"></script>
  <script src="lodash.min.js"></script>
  <script src="leader-line.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="game">
    <div class="board">
      <ul v-for="(line, x) in board" class="line">
        <li :ref="x + '-' + y" @click="choose(x, y)" v-for="(block, y) in line" :class="['block-' + block, getStyle(x, y) ,'block']">
          <img v-if="block" :src="'img/' + block + '.svg'" alt="">
        </li>
      </ul>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>